<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-body">
        <div class="form-row align-items-end">
          <div class="form-group col-sm-4">
            <select (change)="selectChangeHandler($event)" class="form-control">
              <option value="" disabled selected>Choose your filter</option>
              <option value="ISBN">ISBN</option>
              <option value="Title">title</option>
              <option value="Author">author</option>
            </select>
          </div>
          <div class="form-group col-sm-4">
            <input (keyup)="onKey($event)" id="search-input" class="form-control float-right" type="text" placeholder="search">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="books && books.length > 0; else noBooksInfo" class="table table-dark table-striped">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Pages</th>
            <th>Release date</th>
            <th>Available</th>
            <th>Client</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of tableData" class="row-book" [routerLink]="['/books', book.id]">
            <td> {{ book?.ISBN }} </td>
            <td> {{ book?.title }} </td>
            <td> {{ book?.author }} </td>
            <td> {{ book?.genres | genresShow }} </td>
            <td> {{ book?.pages }} </td>
            <td> {{ book?.releaseDate }} </td>
            <td> {{ !book?.isBorrowed }} </td>
            <td> {{ book?.clientFirstName }} {{ book?.clientLastName }} </td>
            <td><button (click)="openEditBookModal(book, $event)" mat-raised-button color="primary" class="edit-btn float-left">Edit</button>
                <button (click)="removeBook(book, $event)" mat-raised-button color="warn" class="delete-btn float-left">Del</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noBooksInfo>
        <div class="no-books-info">
          <p>Currently there are no books in library</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button (click)="openNewBookModal()" mat-raised-button color="primary" id="create-book-btn" class="float-right">Add</button>
    </div>
  </div>
</div>
