<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="books && books.length > 0; else noBooksInfo" class="table table-striped cs-table">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>title</th>
            <th>author</th>
            <th>genres</th>
            <th>pages</th>
            <th>releaseDate</th>
            <th>isBorrowed</th>
            <th>client</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td> {{ book.ISBN }} </td>
            <td> {{ book.title }} </td>
            <td> {{ book.author }} </td>
            <td> {{ book.genres }} </td>
            <td> {{ book.pages }} </td>
            <td> {{ book.releaseDate }} </td>
            <td> {{ book.isBorrowed }} </td>
            <td> {{ book.clientFirstName }} {{ book.clientLastName }} </td>
            <td> ACTION PLACEHOLDER </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noBooksInfo>
        <div class="no-books-info">
          <p>Currently there are no books in library</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
